# This seems to be a faily goot .gitignore for KiCAD 6 projects

### *.bak
### *.kicad_prl
### fp-info-cache
### sym-lib-table

### Hardware/*-backups/

### _autosave*
#auto_saved_files#
### .~lock.*

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
